<h2>Character details</h2>

<div class="person-container">
    <div class="person-attribute">
        Name:
        {{person?.name}}
    </div>

    <div class="person-attribute">
        Height:
        {{person?.height}}
    </div>

    <div class="person-attribute">
        Mass:
        {{person?.mass}}
    </div>

    <div class="person-attribute">
        Hair color:
        {{person?.hair_color}}
    </div>

    <div class="person-attribute">
        Skin color:
        {{person?.eye_color}}
    </div>

    <div class="person-attribute">
        Gender:
        {{person?.gender}}
    </div>


    <div class="films-container">
        <h3>Films</h3>

        <ul  *ngFor="let film of films">

            <button class="aFilm" (click)="goToFilm(film)">
                <div>
                    Title: {{film?.title}}
                </div>

                <div>
                    Director: {{film?.director}}
                </div>

            </button>

        </ul>
    </div>
</div>