.person-attribute{
    color: rgb(241, 243, 243);
    background-color: rgb(192, 163, 143);
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.person-attribute li .film-container{
 color: rgb(226, 231, 240);
 background-color: crimson;
 font-size: small;
 padding: 5px;
}

.person-attribute li div{
    color: rgb(21, 58, 58);
    font-size: 300%;
   }