.person-attribute{
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.aFilm {
    background-color: #1a78c2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    display: flex;
}

.aFilm:hover{
    background-color:#1965a0;
}
