.list-characters {
    background-color: #47C8C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .list-characters:hover{
  background-color: #44bdb9;
  color: white;
}
