.person-container{
    color: rgb(235, 243, 243);
    font-size: medium;
    background-color: rgb(166, 115, 214);
    font-family: 'Times New Roman', Times, serif;
    background: rgb(46, 32, 15);
    width: 100%;
    display: block;
    margin: 10px;
}