<p>film-info works!</p>

<div class="film-container">
    <div class="film-attribute">
        Title:
        {{film?.title}}
    </div>

    <div class="film-attribute">
        Episode:
        {{film?.episode_id}}
    </div>

    <div class="film-attribute">
        Opening crawl:
        {{film?.opening_crawl}}
    </div>

    <div class="film-attribute">
        Director:
        {{film?.director}}
    </div>

    <div class="film-attribute">
        Producer:
        {{film?.producer}}
    </div>

    <div class="film-attribute">
        Relase date:
        {{film?.release_date | date}}
    </div>

    <div class="film-attribute">
        Characters:
        <li *ngFor="let character of characters">
            <div class="film-container">
                <button (click)="goToCharacter(character)">
                    Name: <div>{{character?.name}}</div>
                    Birth year: <div>{{character?.birth_year}}</div>
                </button>
                
            </div>


        </li>
    </div>

</div>
